body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 23px;
}

.h {
    
}

#elem {
    width: 800px;
    height: 475px;
}

#elem img {
    width: 100%;
    max-width: 500px;
    height: auto;
    flex; gap: 20px; align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.column {
    max-width: 500px;
    flex: 1;
}


header {
    background: linear-gradient(90deg, #5252523c, #5252523c, #5252523c);
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: #ff0707; 
    font-weight: 200px
}

#c { 
    display: flex;

}

.c img:hover{
    transform: scale(1.05)
}

h2 {
    margin-left: 610px;
}

#d {
    max-width: 200px;
}

.card img:hover{
    transform: scale(1.05)
}

img {
    transition: transform 0.3s ease;
}

footer {
    background: linear-gradient(90deg, #000000, #000000, #ffffff);
    text-align: center;
    padding: 1px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav {
    background: linear-gradient(90deg, #5d5c5c, #5d5c5c, #5d5c5c);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: lightgray; 
    
}

main {
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 150%;
}

.card {
    background-color: #ffffff;
    color: white;
    border-radius: 15px;
    padding-bottom: 10px;
}

h3 {
    margin-left: 15px;
}

.card img {
    width: 300px;
    height: 425px;
}

iframe {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #334869;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #334869;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 900px;
        margin: auto;
        margin-left: 225px;
    }
}